<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Mauricio Romero">
    <title>Address Book App</title>
    {% include 'head_css.html' %}
  </head>

  <body>
    {% include 'navbar.html'%}
    <br>
    <div class="container">
      <div class="d-flex justify-content-center">
    	<div class="card panel-warning">
    		<div class="card-header">
    			Login
    		</div>
    		<div  class="card-body">
          <p>Welcome to the Addres Book Web Application.</p>
          <p>Please login.</p>
        </div>
        <div class="card-footer text-center">
          <a href="{% url 'home' %}" class="btn btn-warning">Log in</a>
        </div>
  		</div>
    </div>
    </div> <!-- /container -->
{% include "footer.html" %}
  </body>
</html>
